* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    z-index: 1000;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 2px hsl(0, 0%, 16%);
    background-color: #FAFAFA;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #282828;
    text-align: center; 
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: #282828;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#close-icon {
    display: none;
}

@media only screen and (max-width: 950px) {
    .menu {
        flex-direction: column;
        background-color: #FAFAFA;
        align-items: start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(40, 40, 40, 1) 1.95px 1.95px 2.6px;
    }

    .menu a {
        margin-top: 10px; 
        text-align: center; 
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: #282828;
        font-size: 28px;
        cursor: pointer;
    }

    #menu-toggle:checked ~ .menu {
        transform: scale(1, 1);
    }

    #menu-toggle:checked ~ #menu-icon {
        display: none;
    }

    @media only screen and (max-width: 950px) {
        /* Autres styles */
    
    }
}
