@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "layout/header.css";
@import "base/main.css";
@import "base/media.css";
@import "utils/variables.css";
@import "layout/footer.css";

.img-container {
    position: relative;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 40px; 
    margin-bottom: 40px; 
}

.img-accueil {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.img-projets {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.img-propos {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.img-contact {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.btn-projets {
    position: absolute;
    bottom: 130px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #282828;
    color: #FAFAFA;
    padding: 20px 30px;
    font-size: 2em; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-projets:hover {
    background-color: #444;
}


@media only screen and (max-width: 600px) {
    .img-container {
        margin-top: 20px; 
        margin-bottom: 20px; 
    }
    
    .btn-projets {
        padding: 10px 20px; 
        font-size: 0.8em;
        bottom: 30px; 
    }
}

h2 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    margin-left: 60px;
    margin-right: 60px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: light;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;

}
.mentions-legales {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: light;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.circle-shape { 
    margin: 2rem; 
    overflow: hidden; /* Assure que le texte ne déborde pas de la forme */
    position: relative; /* Permet de positionner les éléments à l'intérieur */
}

.circle-shape p {
    line-height: 1.8; 
}

.circle-shape .curve { 
    width: 33%;
    height: auto;
    min-width: 150px;
    border-radius: 70%; /* Augmente le border-radius pour une forme plus arrondie */
    float: left;
    margin-right: 2rem; 
    position: relative; /* Permet de positionner le texte par rapport à cette image */
    z-index: 1; /* Assure que l'image est au-dessus du texte */
}

.circle-shape h2 {
    position: absolute; /* Positionne le titre de manière absolue */
    top: -50px; /* Positionne le titre au-dessus de l'image */
    left: 50%; /* Aligne le titre horizontalement au centre */
    transform: translate(-50%, -100%); /* Centre le titre horizontalement par rapport à son parent */
    margin: 0; /* Supprime les marges par défaut */
    z-index: 2; /* Assure que le titre est au-dessus de l'image */
    background-color: white; /* Ajout d'un fond blanc pour une meilleure lisibilité */
    padding: 10px 20px; /* Ajout de marge intérieure pour améliorer l'apparence */
}
