@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "layout/header.css";
@import "base/main.css";
@import "base/media.css";
@import "utils/variables.css";
@import "layout/footer.css";


.img-banniere {
    position: relative;
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: -40px; 
    margin-bottom: 0; 
}

.img-accueil {
    width: 100%; 
    object-fit: cover; 
    object-position: center;
}

.img-projets {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.img-propos {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.img-contact {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.btn-projets {
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    bottom: 130px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: #FAFAFA;
    padding: 20px 30px;
    font-size: 2em; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.10s ease;
}

.btn-projets:hover {
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    bottom: 130px; 
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    padding: 20px 30px;
    font-size: 2em; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.10s ease;
    background-color: #FAFAFA;
}


@media only screen and (max-width: 600px) {
    .img-container {
        margin-top: 20px; 
        margin-bottom: 20px; 
    }
    
    .btn-projets {
        padding: 10px 20px; 
        font-size: 0.8em;
        bottom: 30px; 
    }
}

h2 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .h3 {
        font-size: 30px; 
        margin-top: 50px; 
        margin-bottom: 50px;
        text-align: center; 
    }
}

@media only screen and (max-width: 576px) {
    .h3 {
        font-size: 20px; 
        margin-top: 30px; 
        margin-bottom: 30px;
        text-align: center; 
    }
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}
.mentions-legales {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mentions-legales-bold {
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-style: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.circle-shape { 
    margin: 2rem; 
    overflow: hidden; 
    position: relative; 
}

.circle-shape p {
    line-height: 1.8; 
}

.circle-shape .curve { 
    width: 33%;
    height: auto;
    min-width: 150px;
    border-radius: 70%; 
    float: left;
    margin-right: 2rem; 
    position: relative; 
    z-index: 0;
}

.circle-shape h2 {
    position: absolute;
    top: -50px; 
    left: 50%;
    transform: translate(-50%, -100%);
    margin: 0; 
    z-index: 2; 
    background-color: white; 
    padding: 10px 20px; 
}


.titre-projet {
    font-family: 'Unbounded', sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 32px;
    font-size: 50px;
}

@media only screen and (max-width: 768px) {
    .titre-projet {
        font-size: 16px; 
        margin-top: 50px; 
        margin-bottom: 50px;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .titre-projet {
        font-size: 14px; 
        margin-top: 30px; 
        margin-bottom: 30px;
        text-align: center;
    }
}

.img-contain {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-projets {
    object-fit: cover; 
    object-position: center;
    max-width: 100%; 
    height: auto; 
    max-height: 100%;
    margin-top: 80px;
    margin-bottom: 80px; 

}

@media only screen and (max-width: 768px) {
    .img-contain {
        flex-direction: column; 
    }

    .img-projets {
        max-width: 80%; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .img-projets {
        max-width: 40%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.texte-projet {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .texte-projet {
        font-size: 12px; 
        margin-top: 50px; 
        margin-bottom: 50px; 
    }
}

@media only screen and (max-width: 576px) {
    .texte-projet {
        font-size: 10px; 
        margin-top: 30px; 
        margin-bottom: 30px; 
    }
}

.italic-projet {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .italic-projet {
        font-size: 12px; 
        margin-top: 50px; 
        margin-bottom: 50px; 
    }
}

@media only screen and (max-width: 576px) {
    .italic-projet {
        font-size: 10px; 
        margin-top: 30px; 
        margin-bottom: 30px; 
    }
}

.center-projet {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: bold;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .center-projet {
        font-size: 12px;
        text-align: center;
        margin-top: 50px; 
        margin-bottom: 50px; 
    }
}

@media only screen and (max-width: 576px) {
    .center-projet {
        font-size: 10px;
        text-align: center;
        margin-top: 30px; 
        margin-bottom: 30px; 
    }
}

.CV {
    font-family:'Space Grotesk', sans-serif;
    transition: background-color 0.10s ease;
    background-color: #000000;
    color: #FAFAFA; 
    text-decoration: none;
}

.CV:hover {
    font-family:'Space Grotesk', sans-serif;
    transition: background-color 0.10s ease;
    background-color: #FAFAFA;
    color: #000000; 
    text-decoration: none;
}
